* {
    margin: 0;
    padding: 0;
  }
  
  body {
    background-color: rgb(24, 26, 27);
    text-align: center;
  }
  
  .box h1{
    margin-top: 20vh;
    font-size: 40pt;
    color: aliceblue;
  }
  
  .box #box-input{
    width: 20%;
    height: 35px;
    margin: 2%;
    font-size: 15pt;
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgb(7, 7, 7);
  }
  
  .box #box-input::placeholder{
    text-align: center;
  }

.tamanho {
    width: 100%;
}
  
  .box button {
    width: 7%;
    height: 2.5rem;
    border-radius: 7px;
    cursor: pointer;
    margin: 2%;
  }
  
  .box button:hover {
    background-color: gray;
  }
  
  .container_password {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
  }
  
  .title {
    text-align: center;
    font-size: 20pt;
    margin: 2%;
  }
  
  
  .password {
    background-color: rgb(10, 10, 10);
    width: 350px;
    padding: 2%;
    border-radius: 7px;
    font-size: 16pt;
    cursor: pointer;
  }
  
  .copy {
    margin: 2%;
    position: relative;
    font-size: 15pt;
    visibility: hidden;
  }
  
  .container_password:hover .copy {
    visibility: visible;
  }
  
  .escolha_o_tamanho {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .escolha_o_tamanho span{
    font-size: 16pt;
    margin-bottom: 20px;
    color: white;
  }
  
  .escolha_o_tamanho input{
    width: 20%;
  }  
  
  input::placeholder{
    color: rgb(179, 173, 173);
  }
  
  .hide {
    display: none;
  }

  
  @media (max-width: 906px) {
  .box #box-input{
    width: 75%;
    margin: 10%;
  }

  .box button {
    width: 30%; 
    margin: 5%;
  }

  .escolha_o_tamanho input{
    width: 78%;
  } 

.box .titulo {
    margin-top: 25%;
  }

  }